
# Common
node_modules/
.env
config.env
.DS_Store
*.log
/tmp
/dist
/build
package-lock.json
package.json
.vscode/
.idea/

# Backend specific
/backend/node_modules/
/backend/config/config.env
/backend/.env
/backend/package-lock.json
/backend/package.json

# Frontend specific
/Admin-Panel/package.json
/Admin-Panel/node_modules/
/Admin-Panel/dist/
/Admin-Panel/.vite/
/Admin-Panel/.env
/Admin-Panel/package-lock.json
